#m {
    color: aqua;
    text-align: center;
    background-color: green;
   margin-left: 25%;
   margin-right: 25%;
}

#om {
    color:rgba(19, 32, 117, 0.774);
  
}
#mo {
    color: rgba(19, 32, 117, 0.774);
}
#ta {
    background-color: azure;
}
#ot {
    background-color:azure ;
}
#tao {
    color: rgba(19, 32, 117, 0.774);

}
#oat {
    background-color:azure ;
}
header > ul > li {
    display: inline;
    margin-left: 5%;
  
}
#taw {
    color:rgba(19, 32, 117, 0.774) ;
}